import React from 'react'; 
import styles from './styles'; 

const {{pascalCase name}} = () => { 
  return (
    <div className={"wrapper"}>
      <p>{{pascalCase name}} SCREEN</p>
    </div>
  ); 
}; 
export default {{pascalCase name}};