$CULTURED: #f7f8fa;
$GLAUCOUS: #7089b1;
$BLUE: #0d285a;
$WHITE_1: #e0e0e029;
$WHITE: #ffffff;
$PURPLE: #600dff;
$QUEEN_BLUE: #4f6889;
$GREEN: #189a14;
$YELLOW: #ffc107;
$PINK: #ff3987;
$EMERALD: #3cc480;
$ORANGE: #fc6d26;
$BLACK: #231f20;
$GREY: #6c86af;
$LIGHT_GREY: #4b688c;
$Dropdown: #c4c4c4;
$LIGHT_PURPLE: #5437f5;
$BORDER: rgba(79, 104, 137, 0.14);
$LIGHT_GREY_1: rgba(75, 104, 140, 0.04);
$LIGHT_PURPLE: #7b68ee;
$LIGHT_GREEN: #00b784;
