.main-sider {
  background-color: white;
  .main-sider-menu {
    background-color: white;
    position: absolute;
    top: 22vh;
    border-color: white;
    .main-sider-item {
      margin-bottom: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font: normal normal medium 12px/14px Rubik;
      font-size: 14px;
      font-weight: 500;
      color: #515c6f;
    }
  }
  .main-sider-home {
    position: absolute;
    top: 24px;
    width: 100%;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 45px;
    }
  }
  .ant-menu-inline .ant-menu-item::after {
    border-right-color: #fe5d80;
  }
}
