@import "../../style/components/colors.scss";
.textField-input {
  // display: flex;
  // flex-direction: row;
  // height: 35px;
  // align-items: center;
  // // justify-content: center;
  // background-color: $CULTURED;
  border-radius: 4px;
  margin: 16px 0;
}
.label {
  font-family: "Poppins";
  font-size: 12px;
}

.input-field {
  margin-top: 4px;
  background: $CULTURED;
  border-width: 0;
  border-radius: 4px;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  display: inline-block;
}

.ant-list-item-meta-title {
  margin-left: 4px;
  margin-bottom: 0px;
}

.error-message {
  color: red;
  margin-bottom: 16px;
  font-style: "Poppins";
}
