import React from 'react'; import './styles.scss'; import PropTypes from
"prop-types"; const
{{pascalCase name}}
= () => { return (
<div className='{"wrapper"}'>
  <p>{{pascalCase name}} SCREEN</p>
</div>
); };

{{pascalCase name}}.propTypes = { items: PropTypes.array, }; export default
{{pascalCase name}};