.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 26px;
}

.tab_icon {
    height: 20px;
    width: 18px;
}

.tab_title {
    align-items: center;
    margin: 1em;
}