.state {
  border-radius: 8px;
  color: white;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
  text-align: left;
  letter-spacing: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Completed {
  background-color: #00b784;
}
.Review {
  background-color: #fec703;
}
.Ready {
  background-color: #7b68ee;
}
